body{
background-image: url("img/music-1283020_1920.jpg");
background-repeat: no-repeat;
background-size: auto;
padding: 0;
/*Kristőf a zsidó*/
}
h1, h2 {
    color: wheat;
}
p{
    color: wheat;
}
h2{
    color: wheat;
}
a{
    color : wheat
}
a:hover{
    color: aquamarine;
}
      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #04aa6d;
        color: white;
      }
#felsorolas{
    text-align: center;
}
img{
    width: 500px;
    height: 500px;
}